@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Montserrat:wght@400;600&display=swap');


/*----------------------General styles across site---------------------------*/


body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2 { 
    font-family: 'Comfortaa', cursive;
    }

    
.btn {
    color: #C6C5B9;
    background-color:#263538;
    border-color: #C6C5B9;
    margin-bottom: 1rem;
}
.btn:hover {
    color: #263538;
    background-color:#C6C5B9;
    border-color: #263538; 
}






/*----------------------Alert Section---------------------------*/

.alert-container {
    background-color: #c6c5b9;
    margin: 0 auto;
    text-align: center;
    color: #263538;
    font-size: larger;
    

}


.alert a {
    color: #263538;
    text-decoration: none;
    background-color: transparent;
    font-size: larger;
    font-weight: 600;
}

    

/*----------------------Nav Bar---------------------------*/



/*----------------------Callout---------------------------*/

.callout-container {
    height: 100vh;

    background: url('../images/card-table.jpg') #263538 no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.callout-container h1 {
    color: #c6c5b9; 
}

.callout-container h2 {
    color: #c6c5b9; 
}

.callout-container h3 {
    color: #c6c5b9; 
}
/*----------------------About Bridge---------------------------*/

.text-container {
    background-color: rgba(198,197,185,0.5);
}


/*----------------------Inspirational quote---------------------------*/

.inspirational-quote {
    
    
    background-color: #263538;
    color: #C6C5B9;
}

.blockquote-footer{
    color:#FDFDFF

}

/*---------------------Learn Bridge--------------------------*/
